@import url("https://fonts.goopleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

button {
    padding: 0.8rem;
    margin: 0.2rem 0.1rem;
}

.body {
    background: #d8d8d8;
}