@import url("https://fonts.goopleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.body {
    background: #d8d8d8;
}

.keyboard {
    margin: 100px auto;
    width: 1200px;
}

button {
    margin: 10px;
    width: 70px;
    height: 70px;
    font-size: 16px;
    background: #d8d8d8;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #afafaf, -6px -6px 12px #e0e0e0;
}

button:hover {
    border: 1px solid #fff;
}